.textlink {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.abouthead {
  font-weight: bold;
  font-size: large;
}

/* InfoBackground, the CSS2 color was deprecated, is black in Ubuntu */
#expression-search-tooltip.forceInfo {
  background-color: #ffffe1 !important;
  -moz-appearance: none !important;
}

.tooltip-token {
  font-weight: bold;
  color: green;
}

.tooltip-info {
  color: blue;
}

.tooltip-match {
  color: purple;
}

.tooltip-term {
  color: grey;
}

.customHeadersShow{
  color: grey;
}

.expressionsearch_pref_input {
  margin: 0px;
  padding: 0px;
}

/* quick-filter-bar on OSX has a default height 25px, need to hide it when move elements to other places */
#quick-filter-bar.resetHeight {
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/initial
  stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only
  */
  height: initial; /* is auto */
}

/* make the main bar looks better when placed on menubar/toolbar/tabbar */
#mail-bar3 #quick-filter-bar-main-bar,
#mail-toolbar-menubar2 #quick-filter-bar-main-bar,
#tabs-toolbar #quick-filter-bar-main-bar {
  width: 600px;
  -moz-box-flex: 1;
  flex: 1;
  background-color: transparent;
  background-image: inherit;
  border: 0 solid red; /* for TB5, force no border */
}

/* fix the result label color issue when placed on menubar/toolbar/tabbar */
#qfb-results-label[filterActive="matches"] {
  color: green;
}

#qfb-results-label[filterActive="nomatches"] {
  color: #f66;
}

/* force show or hide button & it's text */
#quick-filter-bar-collapsible-buttons.hidelabel toolbarbutton label.toolbarbutton-text {
  display: none;
}

#quick-filter-bar-collapsible-buttons.showlabel toolbarbutton label.toolbarbutton-text {
  display: inline;
}

#quick-filter-bar-collapsible-buttons.hideall, #qfb-filter-bar-spacer.hideall {
  display: none;
}

/* if the width is not enough, make others more flexiable to make my box shown */
#qfb-filter-bar-spacer {
  /* do in es.js based on position */
  margin: 0px !important;
  padding: 0px !important;
}

#qfb-results-label {
  margin: 0px;
  padding: 0px;
  flex: 5 1;
}

#expression-search-textbox {
  flex: 5 1;
}

.titlebar-placeholder {
  flex: 0.1 100;
}
