.textlink {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.abouthead {
  font-weight: bold;
  font-size: large;
}

.search-value-custom[searchAttribute^="expressionsearch#"] {
  -moz-binding: url("chrome://expressionsearch/content/bindings.xml#expressionSearchTextBoxBinding");
}
